@{
    ViewData["Title"] = "SearchEngine App";
}
@model SearchEngine.Core.Models.SearchResult

<form class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <label for="inputWord" class="sr-only">Search</label>
        <input type="text" class="form-control" id="inputWord" placeholder="Type any ...">
    </div>
    <input type="button" class="btn btn-primary mb-2" id="btnResult" value="Try" />
</form>
<div id="partial">    
</div>
@section Scripts {
    <script> 
        
    </script>
}

