@{
    ViewData["Title"] = "Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <div class="selectSection">
            <form class="form-inline">
                <label>Choose section </label>
                <div class="form-group mx-sm-3 mb-2">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        @Html.DropDownList("section", ViewBag.SectionNames as SelectList, "..Select..", new { @class = "form-control", @id = "dropDownSection" })
                    </div>
                </div>
                <input type="button" class="btn btn-primary mb-2" id="btnSelect" value="Select" />
                <hr />
            </form>
            <div id="sectionFields">

            </div>
            <!--<div class="form-group mx-sm-3 mb-2">
        <a asp-area="" asp-controller="Configuration" asp-action="Save" id="dbClear">
            <input type="button" class="btn btn-outline-secondary" value="Save" />
        </a>
    </div>-->
        </div>
    </div>
</body>
</html>
