@model IEnumerable<Request>
@{
    ViewData["Title"] = "Search In Database";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Search In DataBase</h1>
<hr />
<div class="filter">
    <form class="form-inline">
        <label>Search by word </label>
        <div class="form-group mx-sm-3 mb-2">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                @Html.DropDownList("wordId", ViewBag.WordsCollection as SelectList, "..Select..", new { @class = "form-control", @id = "dropDownWord" })
            </div>
        </div>
        <input type="button" class="btn btn-primary mb-2" id="btnDbResult" value="Apply" />
        <div class="form-group mx-sm-3 mb-2">
            <a asp-area="" asp-controller="SearchDb" asp-action="Index" id="dbClear">
                <input type="button" class="btn btn-outline-secondary" value="Clear" />
            </a>
        </div>     
    </form>
</div>

<div class="container" id="tableResult">
    @await Html.PartialAsync("_ResultView", Model)
</div>
<div class="modal fade" id="modDialog">
    <div class="modal-dialog" id="dialogContent"></div>
</div>
@section Scripts {
    <script>         
    </script>
}

