@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form class="form-inline" method="post">
    <div class="form-group mx-sm-3 mb-2">
        <label for="inputWord" class="sr-only">Search</label>
        <input type="text" class="form-control" name="searchText" placeholder="Type any ...">
    </div>
    <input type="submit" class="btn btn-primary mb-2" value="Search" />
</form>
<div id="result">
    <p class="text-info">SearchEngine - @Model.SearchResult?.SearchTitle</p>
    <p class="text-info">Count - @Model.SearchResult?.CountResult</p>
    @await Html.PartialAsync("../Partials/_ResultsPartial", Model.SearchResult)
</div>
